@import url(styles/header.css);

:root{
    --cor-de-fundo: #EBECEE;
    --branco:#ffffff;
    --amarelo:#fecd2f;
    --roxo:#c75eeb;

}

body{
    background-color: var(--rgba(235, 6, 151, 0.413));
}

:root{
    ... 
    --preto:#000000;
}